Day2 First Greetings.json
{
  "name": "Day2 First Greetings",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -560,
        0
      ],
      "id": "0418f941-b9e1-4544-9629-84f29bcf85c6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f555583d-9ed4-4f45-85c6-13a0fb49d751",
              "name": "Name",
              "value": "Hariprasanth",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        0
      ],
      "id": "85561ec0-b5c3-4e50-9bec-fa216ec9e53c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b6c2177-1ebe-4e7c-9c62-a906d73ba4e9",
              "name": "Greetings ",
              "value": "=Welcome {{ $json.Name }} you are coming {{ $('Schedule Trigger').item.json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        0
      ],
      "id": "a1a0760a-756f-43a7-b85f-3dcf7e5359f3",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7bafaaca-c0e2-45b6-a0cc-6eb7fb5a757a",
  "meta": {
    "instanceId": "d2b790303bfdca581442c14d0b3bd4276ea71e32a22e4d4933cc1aca9c837ca2"
  },
  "id": "KwfuhK7dhD36DR6l",
  "tags": []
}