Notepad_Automation (1).json
{
  "name": "Notepad_Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -832,
        -64
      ],
      "id": "9ec3259e-114d-4ba1-8d6b-1ee04d97c40a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b6b36c1-2465-48a3-88b6-de6603e5f92a",
              "name": "Date_and_time",
              "value": "={{ $now.setZone('Asia/Kolkata').toISO() }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        -64
      ],
      "id": "3ff20e0f-483d-49ab-8ed0-29d908c33af8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.114:5001/write",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        -64
      ],
      "id": "28a1868d-15df-43f4-9248-28171c93c8d6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Give me the Correct timestamp value for the input {{ $json.Date_and_time }}\n#GIve me oneline\nEx: 2025-12-04:00:00:00",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -416,
        -64
      ],
      "id": "a4ab2e3e-e192-452a-a920-0ec3c41efa05",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -448,
        -256
      ],
      "id": "2ad6b43f-15d7-4ec2-a9f2-ef2c69389b04",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BRRmRSyKJPAL0QEB",
          "name": "OpenAi account"
        }
      },
      "notes": "Open AI\n"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "576bd36b-01c1-43b0-918a-80f347ec4c55",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9624bb074a4d26448eeb0189705f5c14108b5fcc9e50e9e0bf62afdd86acf5a2"
  },
  "id": "lyFyVKm5M4sd8IOv",
  "tags": []
}