Telagram.json
{
  "name": "Telagram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -496,
        -16
      ],
      "id": "9a1cd0fa-7092-4ac9-a93f-0796a3d58ec9",
      "name": "Telegram Trigger",
      "webhookId": "4a542336-49f8-48e5-b02b-674c5b1608e7",
      "credentials": {
        "telegramApi": {
          "id": "9EAS8dsIa89BkA3I",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Act as a Personal Assistant and share the knowledgeable informations "
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -288,
        -16
      ],
      "id": "fb8ffe3e-a19d-421a-9f5f-a9b3cbc0cf50",
      "name": "Basic LLM Chain",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "executeOnce": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -368,
        192
      ],
      "id": "6cd77cf1-22f2-4018-af69-e042079a4d30",
      "name": "OpenAI Chat Model",
      "notesInFlow": false,
      "credentials": {
        "openAiApi": {
          "id": "60pGqSdbo5ROvzou",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "numberOfItems": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserItemList",
      "typeVersion": 1,
      "position": [
        -160,
        192
      ],
      "id": "c8951537-d36b-4ced-9777-6647f7ebbb5d",
      "name": "Item List Output Parser"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        -16
      ],
      "id": "eab817ac-24b7-44a5-9dca-88a965d3d2e9",
      "name": "Send a text message",
      "webhookId": "9ebf7b85-30b1-4228-84d5-bd61dcbffd9d",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "9EAS8dsIa89BkA3I",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item List Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cec13612-ff37-4670-8438-ddaba271e505",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d2b790303bfdca581442c14d0b3bd4276ea71e32a22e4d4933cc1aca9c837ca2"
  },
  "id": "HXN9DQF7DWpsFUm6",
  "tags": []
}