n8n/Create a poster.json
{
  "name": "Create a poster",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0A1WFXMT0W",
          "mode": "list",
          "cachedResultName": "design_posters"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        256
      ],
      "id": "52748691-67c9-40b8-9a01-980d704a9967",
      "name": "Slack Trigger",
      "webhookId": "1b5d6237-a1b8-48ca-8456-e78192d0fd17",
      "credentials": {
        "slackApi": {
          "id": "1VeoPWQUzExIvkrW",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Create a prompt for the below context \n{{ $json.text }}\n\nReturn a text generated  it in 5 lines with cinimatic approch professionally\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -272,
        256
      ],
      "id": "0ac4f9ea-0a79-4f87-a3cd-ea17c9a71b60",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -208,
        480
      ],
      "id": "b7f042d4-e6ac-41b1-8842-a81dcbb47b47",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "60pGqSdbo5ROvzou",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.text }}",
        "options": {
          "returnImageUrls": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        304,
        256
      ],
      "id": "1f521fc2-636c-4ea2-84b4-deb654095691",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "60pGqSdbo5ROvzou",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "options": {
          "channelId": "C0A1WFXMT0W",
          "fileName": "=generated-image.png",
          "title": "AI"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        528,
        256
      ],
      "id": "7fe40a37-5244-4b29-baf5-fe6d3ac03725",
      "name": "Upload a file",
      "webhookId": "b7c69b1e-24d9-4db8-a0f7-91351be85979",
      "credentials": {
        "slackApi": {
          "id": "1VeoPWQUzExIvkrW",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        528,
        448
      ],
      "id": "6c8b5b3d-be40-4e45-bfde-d2dfb5300d7a",
      "name": "Upload a file1",
      "webhookId": "b7c69b1e-24d9-4db8-a0f7-91351be85979",
      "credentials": {
        "slackApi": {
          "id": "1VeoPWQUzExIvkrW",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 3,
        "output": "={{(() => {\n  const prompt = $json.text?.prompt?.toLowerCase() || $json.prompt?.toLowerCase() || '';\n  \n  // Check for video-related words\n  const videoKeywords = ['video', 'animation', 'clip', 'movie', 'footage'];\n  // Check for image-related words\n  const imageKeywords = ['image', 'photo', 'picture', 'drawing', 'painting', 'art', 'illustration'];\n  \n  if (videoKeywords.some(word => prompt.includes(word))) return 0; // Output 1 (video)\n  if (imageKeywords.some(word => prompt.includes(word))) return 1; // Output 2 (image)\n  return 2; // Output 3 (other)\n})()}}\n"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        80,
        240
      ],
      "id": "e44f534e-ae93-4eeb-9925-ed87a50acf2d",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "sora-2",
          "mode": "list",
          "cachedResultName": "SORA-2"
        },
        "prompt": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        304,
        448
      ],
      "id": "41a21012-b942-45d8-a06a-847ea8274442",
      "name": "Generate a video",
      "credentials": {
        "openAiApi": {
          "id": "60pGqSdbo5ROvzou",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A1WFXMT0W",
          "mode": "list",
          "cachedResultName": "design_posters"
        },
        "text": "The requested details are not available now",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        304,
        64
      ],
      "id": "4b61df37-784b-4b9b-b5e9-dae9ac241b66",
      "name": "Not a valid request",
      "webhookId": "eb93e742-890d-49e7-96a5-20a2e11a7b21",
      "credentials": {
        "slackOAuth2Api": {
          "id": "t5mUCHiOdpl835KA",
          "name": "Slack account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Not a valid request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file1": {
      "main": [
        []
      ]
    },
    "Generate a video": {
      "main": [
        [
          {
            "node": "Upload a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "73d62163-6c02-4aad-b187-524668ce3323",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d2b790303bfdca581442c14d0b3bd4276ea71e32a22e4d4933cc1aca9c837ca2"
  },
  "id": "YRDhZGb5oSMmGmLi",
  "tags": [
    {
      "updatedAt": "2025-12-06T06:04:46.995Z",
      "createdAt": "2025-12-06T06:04:46.995Z",
      "id": "57ANu6gS7wouUA99",
      "name": "Weekend Challenge"
    }
  ]
}