n8n/lovable Webhook.json
{
  "name": "lovable Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send_wish",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        -96
      ],
      "id": "783eca71-43b7-41b7-a6b8-49a1d408000e",
      "name": "Webhook",
      "webhookId": "b3feb31d-1d72-43a2-9b7e-c8eb1be4ec5b",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a Greeting Message with 6 lines to email  {{ $json.body.body.query }}\n1.send an email for Happy Bithday with HTML Format use the language {{ $json.body.body.language }}\n2.Add the relavent one gifs greetings \n3.Methion Date in the footer with regards, N8N AI\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -528,
        -96
      ],
      "id": "5c924ff9-cbae-4207-b322-bae56ceddaa1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -656,
        128
      ],
      "id": "2ddecf48-5024-49ba-978a-81dbb2df836c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "60pGqSdbo5ROvzou",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.webhookUrl }}",
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -528,
        128
      ],
      "id": "ff6765c9-8f33-4f74-aac4-1c40248331be",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -320,
        128
      ],
      "id": "709d58d9-9971-47d3-ae2d-69bcc108bc7d",
      "name": "Send a message in Gmail",
      "webhookId": "4e27414c-ff76-4818-83e0-a234a0186e7c",
      "credentials": {
        "gmailOAuth2": {
          "id": "6UqWbbqttebdCgrp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -64,
        -96
      ],
      "id": "37e059c0-5716-4d4c-9e95-7de995520aec",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bba4ea68-d81a-4ae9-bd4d-a90914118a03",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d2b790303bfdca581442c14d0b3bd4276ea71e32a22e4d4933cc1aca9c837ca2"
  },
  "id": "y7nzI2JDGsaztNwq",
  "tags": []
}